@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Developer Data:</h3>

<p>
    <strong>E-mail: </strong> @ViewData["Email"]
</p>

<p>
    <strong>Developer GitHub: </strong> <a href="@ViewData["Github"]" target="_blank">@ViewData["Github"]</a>
</p>

<p>
    <strong>Developer LinkedIn: </strong> <a href="@ViewData["LinkedIn"]" target="_blank">Kevin Zamperetti Schepke</a>
</p>
